.novoProduto {
    margin: 20px 15px 10px 10px;
    background-color: #007bff; /* Cor de fundo azul */
    color: #fff; /* Cor do texto branco */
    border: none; /* Remove a borda padrão */
    border-radius: 5px; /* Adiciona cantos arredondados */
    padding: 10px 10px; /* Preenchimento interno */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor para uma mãozinha ao passar o mouse */
    transition: background-color 0.3s ease;
}